# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/
builds/depinstr.bin
builds/usr/local/frc/third-party/lib/ReadMe.txt
builds/home/lvuser/natinst/bin/startup.rtexe
